packages:
  yum:
    libpq-devel: []
    gcc: []

commands:
  01_link_pg_config:
    command: "ln -sf /usr/bin/pg_config /usr/local/bin/pg_config"
    ignoreErrors: true

container_commands:
  01_init_db:
    command: "psql -d $DATABASE_URL -f init_rds.sql"
    leader_only: true
    ignoreErrors: true